
<div id="filterrific_results">
  <div>
    <%= page_entries_info wikis %>
  </div>
  <% wikis.each do |wiki| %>
    <h4>
      <%= link_to wiki.title, wiki %>
      (<%= wiki.year %>)
    </h4>
  <% end %>
</div>
<%= will_paginate wikis %>
