<h1>Edit Entry</h1>
<%= render partial: "wikis/form", locals: { wiki: @wiki, new_wiki: false } %>
<% if is_premium_user? && wiki_owner(@wiki) %>
  <%= render partial: "collaborators/add_collaborators", locals: {wiki: @wiki.id} %>
<% end %>
