<h1>Add New Motorcyle to Motopedia</h1>
<p>
  Please perform a quick search for the motorcyle that
  you would like to make sure that you are not adding
  a duplicate entry.
 <br /> <br />
  Motopedia is markdown friendly (in the body section).  Please refer to this
  <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">cheat sheet</a>
  for markdown sytanx.
</p>
<br />

<%= render partial: "wikis/form", locals: { wiki: @wiki, new_wiki: true } %>
