<h1>Add New Motorcyle to Motopedia</h1>
<p>
  Please perform a quick search for the motorcyle that
  you would like to make sure that you are not adding
  a duplicate entry.
</p>

<%= render partial: "wikis/form", locals: { wiki: @wiki } %>
