@import "bootstrap-sprockets";
@import "bootstrap";

a {
  font-weight: 600;
}

.search {
  margin-top: 10px;
  display: inline-block;
}

.search-box {
  border-bottom-color: #EFA93A;
  border-bottom-style: solid;
  border-bottom-width: medium;
  padding: 5px;
}

.top-bar {
  background-color: #5FD0D4;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  width: auto;
}

.title {
  text-align: center;
  margin-top: 5rem;
}

.title h1{
  font-size: 7rem;
}
.user-info {
  margin-top: 9px;
}

@media (min-width: 768px ) {
  .sidebar {
    border-color: lightgrey;
    border-width: 0;
    border-right-width: 1px;
    border-style: solid;
    height: 100vh;
  }
}

@media (max-width: 768px) {
    .edit-delete {
      float: right;
      display: inline-block;
    }
}

.markdown {
  margin-top: 20px;
  width: 100%;
}

.field {
  margin-bottom: 5px;
}

.edit-delete {
  margin-bottom: 5px;
}

.premium {
  margin-top: 5px;
  font-weight: 800;
}

.body {
  width: 100%;
  min-height: 200px;
}

.hidden {
  display: none;
}
